@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

/* div containing buttons */

#buttons-div {
    font-family: 'Josefin Sans', sans-serif;
    width:70%;
}

/* div containing add monster input and button */

.addMonster {
    font-family: 'Josefin Sans', sans-serif;
    width: 25%;
    float: right;
    margin:10px;
    padding:10px;
    border:10px;
}

/* div containing the gif results from giphy */

.gifDiv {
    width:70%;
    float:left;
    border:10px;
    margin:10px;
    padding:10px;
}

/* div containing specific monster gif */

#monster-gif {
    width:70%;
    display : inline-block
}

/* button for giphy API call */

.monsterButton {
    margin:10px;
    padding:10px;
    border:10px;

}

/* styles for all api call results */

#images {
    font-family: 'Josefin Sans', sans-serif;
    width: 70%;
    overflow: hidden;
    height:500px;
    padding: 10px 20px 10px 20px;
    overflow: auto;
    text-align: center;
    float: left;
    opacity: 0.95;
}

/* styles for whole page */

body {
    background-color: black;
}

/* styles for the button to 'add monster' */

#add-button {
    margin:10px;
    padding:10px;
}